<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577014456779-p64i7hr426n9vej9ln93178qdtmlhfmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577014456779-p64i7hr426n9vej9ln93178qdtmlhfmh</string>
	<key>API_KEY</key>
	<string>AIzaSyAbigL_f7TVSIx45t4FQO9HjbHuQ8HLN4k</string>
	<key>GCM_SENDER_ID</key>
	<string>577014456779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.david.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577014456779:ios:ffc58d862043d565</string>
	<key>DATABASE_URL</key>
	<string>https://tinder-clone-ios.firebaseio.com</string>
</dict>
</plist>